body, html {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,Microsoft JhengHei,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,Noto Sans SC,Source Han Sans TC,Noto Sans CJK TC,WenQuanYi Micro Hei,SimSun,sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
img{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#app{
    min-height: 100%;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#page1{

}
.wrapper{
    width: 100%;
    position: relative;
    min-height: 100vh;
    max-width: 768px;
    background: url('../../images/servicebooking/meeting/bg2.png') no-repeat;
    background-size: cover;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.wrapper .message{
    color: #fff;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 14px;
    letter-spacing: 1px;
    margin: 57.33px 33px 26px 33px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper .message .title{
    font-family: MicrosoftYaHei;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: #ffffff;
    margin-bottom: 10px;
}
.wrapper .message .message-item{
    display: flex;
    align-items: center;
}
.wrapper .message-item img{
    width: 20px;
    height: 20px;
    margin-right: 13px;
    margin-top: -2px;
}
.wrapper .AddService{
    width: 91%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 14px 49px 0px rgba(33, 27, 76, 0.3);
    border-radius: 16.66px;
    margin: 0 auto 50px auto;
    padding: 1px 0 30px 0;
}
.wrapper .AddService-tilte{
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: #313131;
    margin: 26.66px  8%;
}
.AddService-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.AddService-box-item{
    height: 182px;
    width: 133px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 133px;
    margin-bottom: 40px;
}
.AddService-box-item-img{
    width: 100%;
    height: 133px;
    border-radius: 3.3px;
    border: solid 1px #be9d6d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.AddService-box-item-img img{
    height: 48px;
    margin-bottom: 15px;
    position: relative;
    top: -5px;
}
.AddService-box-item-img-tit{
    color: #be9d6d;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
}
.AddService-box-item-num{
    width: 100%;
    height: 33px;
    border: solid 1px #c9c9c9;
    border-radius: 3.33px;
    display: flex;
    color: #a9a9a9;
    text-align: center;
    line-height: 33px;
}
.AddService-box-item-num-item{
    flex:0 0 30%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AddService-box-item-num-item:active{
    background: #be9d6d;
}
.border-right{
    border-right: 1px solid #c9c9c9;
}
.border-left{
    border-left: 1px solid #c9c9c9;
}
.AddService-box-item-num-value{
    flex: 0 0 40%;
}
.text-color{
    color: #be9d6d;
}
.AddService-submit{
    height: 50px;
    width: 233px;
    background: #6c57ff;
    color: #fff;
    font-size: 18.66px;
    letter-spacing: 18px;
    border: none;
    appearance: none;
    border-radius: 25px;
    background-image: url("../images/meeting/submit-effect.png");
    background-repeat: no-repeat;
    background-position: 96% 20%;
    background-size: 20px auto;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
    text-align: center;
    line-height: 50px;
}
.AddService-submit:active{
    transform: scale(0.8);
}


/*page2*/
#page2{
   
}
.content{
    width: 90%;
    margin: 0 auto 30px auto;
}
.success{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.success img{
    width: 60px;
    flex: 0 0 75px;
    position: relative;
    top: 20px;
}
.success div{
    width: 60px;
    flex: 0 0 100%;
    text-align: center;
    font-family: MicrosoftYaHei;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 15px;
    letter-spacing: 0px;
    color: #ffffff;
    margin: 20px 0;
}
.box-style{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(67, 67, 67, 0.3);
    border-radius: 5px;
        background-image: linear-gradient(0deg, 
		#f9d7bc 0%, 
		#fcebde 30%, 
		#ffffff 100%), 
	linear-gradient(
		#ffffff, 
		#ffffff);
	background-blend-mode: normal, 
		normal;
	box-shadow: 0px 1px 50px 0px 
		rgba(205, 205, 205, 0.3);
		border-radius: 3px;
		margin-top:32px;
}
.content-box{
    padding: 10px 40px 40px 40px;
}




.content-box .logo { width: 155px; height: 18px; margin: 33.33px auto 25px auto; }
.content-box .logo img { width: 100%; height: 100%; }

.content-box  .title { display: flex; width: 148px; font-size: 14px; color: #48301b; justify-content: space-between; align-items: center; margin: 0 auto; }

.content-box  .title span { display: block; font-family: fangsong; font-weight: bold; }
.content-box .title .affter { width: 6.6px; height: 2px; background-color: #48301b; font-weight: bold; }

.content-box-item img{
    width: 16px;
    margin-right: 15px;
    position: relative;
    top: -2px;
}
.content-box-item{
    color: #707070;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 13px auto;
    position: relative;
    border-bottom: solid 1px #d0d0d0;
    height:51px;
    line-height:51px;
}
.m-3
{
    margin:10px auto!important;
}
.demand-box{
    padding-top: 1px;
    margin-top: 10px;
    padding-bottom: 1px;
}
.box-style-tilte{
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: #313131;
    margin: 26.66px  8%;
    display: flex;
    justify-content: space-between;
}
.demand-box-ul{
    margin: 0px auto;
}
.demand-box-ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #d0d0d0;
    margin:10px 0;
    padding-bottom: 10px;
    
}
.demand-box-ul li img{
    width: 18px;
    margin-right: 12px;
}
.demand-num{
    color: #707070;
    font-size: 15px;
    display: block;
}
.demand-title{
    font-size: 15px;
    color: #707070;
    display: block;
    display: flex;
    align-items: center;
}
.history-box{
    padding-top: 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.demand-box-ul :last-child{
    border: none;
}
.drop-down{
    width: 16.66px;
    height: 10px;
    position: relative;
    top: 5px;
}
.history-box-ul{
    display: none;
}
.rotate-180{
    transition: 200ms;
    transform: rotateX(180deg);
}
