body, html {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,Microsoft JhengHei,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,Noto Sans SC,Source Han Sans TC,Noto Sans CJK TC,WenQuanYi Micro Hei,SimSun,sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
img{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#app{
    min-height: 100%;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#page1{

}
.wrapper{
    width: 100%;
    position: relative;
    min-height: 100vh;
    max-width: 768px;
 
    background: url('../../images/servicebooking/meeting/indexbg.png'); 
    background-size: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.wrapper .message{
    width: 330px;
	height: 369px;
	background-image: linear-gradient(0deg, 
		#f9d7bc 0%, 
		#fcebde 30%, 
		#ffffff 100%), 
	linear-gradient(
		#ffffff, 
		#ffffff);
	background-blend-mode: normal, 
		normal;
	box-shadow: 0px 1px 50px 0px 
		rgba(205, 205, 205, 0.3);
	border-radius: 3px;
	margin: 32px auto 10px auto;
	display:flow-root;
}

.wrapper .message .logo { width: 155px; height: 18px; margin: 33.33px auto 25px auto; }
.wrapper .message .logo img { width: 100%; height: 100%; }

.wrapper .message  .title { display: flex; width: 148px; font-size: 14px; color: #48301b; justify-content: space-between; align-items: center; margin: 0 auto; }

.wrapper .message  .title span { display: block; font-family: fangsong; font-weight: bold; }
.wrapper .message .title .affter { width: 6.6px; height: 2px; background-color: #48301b; font-weight: bold; }

/*.wrapper .message .title{
    font-family: MicrosoftYaHei;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: #ffffff;
    margin-bottom: 10px;
}*/
.wrapper .message .message-item{
    display: flex;
    align-items: center;
    width:258px;
    border-bottom: solid 1px #d0d0d0;
    margin:0 auto;
    height:51px;
    line-height:51px;
    color: #707070;
   font-size: 14px;   
}

.wrapper .message-item img{
    width: 20px;
    height: 20px;
    margin-right: 13px;
    margin-top: -2px;
}
.wrapper .AddService{
    width: 91%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 14px 49px 0px rgba(33, 27, 76, 0.3);
    border-radius: 4.3px;
    margin: 0 auto 20px auto;
    padding: 1px 0 0px 0;
}
.wrapper .AddService-tilte{
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: #313131;
    margin: 0px  auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0px 8px 49px 0px rgba(33, 27, 76, 0.3);
    background:#fff;
    box-shadow: 0px 9px 9px 0px 
		rgba(121, 121, 121, 0.3);   
	border-radius: 3.3px;
	border: solid 3px #ffffff;
	font-weight:bold;
}
.AddService-tilte .tit_img img{
    width: 30px;
}
.AddService:first-of-type .AddService-tilte .tit_img img{
    width: 41px;
}
.roate-180deg{
    transform: rotate(180deg);
}
.AddService-box{
    display: block;
    background-image: linear-gradient(0deg, 
		#f9d7bc 0%, 
		#fcebde 30%, 
		#ffffff 100%), 
	linear-gradient(
		#ffffff, 
		#ffffff);
	background-blend-mode: normal, 
		normal;
	box-shadow: 0px 1px 50px 0px 
		rgba(205, 205, 205, 0.3);
		border-radius: 3px;
}
.AddService-box-item{
    height: 70px;
    width: 78%;
    display: flex;
    justify-content: space-between;
    flex: 0 0 133px;
    margin-bottom: 40px;
    align-items: center;
    border-bottom: 1px dashed #d0d0d0;
    margin: 0 auto;
    
}

.AddService-box-item-img{
    width: 100%;
    border-radius: 3.3px;
    position: relative;
    color: #707070;
}
.AddService-box-item-img img{
    height: 48px;
    margin-bottom: 15px;
    position: relative;
    top: -5px;
}
.AddService-box-item-img-tit{
    color: #be9d6d;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
}
.AddService-box-item-num{
    width: 100%;
    height: 38px;
    border: solid 1px #c9c9c9;
    border-radius: 3.33px;
    display: flex;
    color: #a9a9a9;
    text-align: center;
    line-height: 38px;
}
.AddService-box-item-num-item{
    flex:0 0 30%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AddService-box-item-num-item:active{
    background: #be9d6d;
}
.border-right{
    border-right: 1px solid #c9c9c9;
}
.border-left{
    border-left: 1px solid #c9c9c9;
}
.AddService-box-item-num-value{
    flex: 0 0 40%;
    font-weight: bold;
    font-size: 18px;
}
.text-color{
    color: #be9d6d;
}
.AddService-submit{
    height: 50px;
    width: 233px;
    background: #6c57ff;
    color: #fff;
    font-size: 18.66px;
    letter-spacing: 0px;
    border: none;
    appearance: none;
    border-radius: 25px;
   
    background-size: 20px auto;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
    background-image: linear-gradient(0deg, 
		#f4712c 0%, 
		#fec128 100%), 
	linear-gradient(
		#fec128, 
		#fec128);
	background-blend-mode: normal, 
		normal;
		margin-bottom:30px;
		
		background-image: linear-gradient(90deg, 
		#a87d4a 0%, 
		#fbe6d6 100%), 
	linear-gradient(
		#ffffff, 
		#ffffff);
	background-blend-mode: normal, 
		normal;
	box-shadow: 0px 7px 7px 0px 
		rgba(153, 152, 149, 0.3);
	border-radius: 3px;
	background:#c5a27c;
		
		
		
}
.AddService-submit:active{
    transform: scale(0.8);
}


/*page2*/
#page2{
    display: none;
}
.content{
    width: 90%;
    margin: 0 auto 30px auto;
}
.success{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.success img{
    width: 60px;
    flex: 0 0 75px;
    position: relative;
    top: 20px;
}
.success div{
    width: 60px;
    flex: 0 0 100%;
    text-align: center;
    font-family: MicrosoftYaHei;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 15px;
    letter-spacing: 0px;
    color: #ffffff;
    margin: 20px 0;
}
.box-style{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(67, 67, 67, 0.3);
    border-radius: 5px;

}
.content-box{
    padding: 10px 40px;
}
.content-box-item img{
    width: 16px;
    margin-right: 15px;
    position: relative;
    top: -2px;
}
.content-box-item{
    color: #787793;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 13px auto;
    position: relative;
}
.demand-box{
    padding-top: 1px;
    margin-top: 10px;
    padding-bottom: 1px;
}
.box-style-tilte{
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: #313131;
    margin: 26.66px  8%;
    display: flex;
    justify-content: space-between;
}
.demand-box-ul{
    width: 80%;
    margin: 0px auto;
}
.demand-box-ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    margin:10px 0;
    padding-bottom: 10px;
}
.demand-box-ul li img{
    width: 18px;
    margin-right: 12px;
}
.demand-num{
    color: #be9d6d;
    font-size: 15px;
    display: block;
}
.demand-title{
    font-size: 15px;
    color: #787793;
    display: block;
    display: flex;
    align-items: center;
}
.history-box{
    padding-top: 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.demand-box-ul :last-child{
    border: none;
}
.drop-down{
    width: 16.66px;
    height: 10px;
    position: relative;
    top: 5px;
}
.history-box-ul{
         /*display: none;*/
}
.rotate-180{
    transition: 200ms;
    transform: rotateX(180deg);
}
.shoptip{
    font-size: 13px;
}


.modal-content
{
    
   padding: 2rem 2.5rem 2.5rem 2.5rem;
}
.modal-content .modelInput
{
   
    border: none!important;
    outline: none;
    box-shadow: none;
   
    border: 0px;
}
.modal-content .Ttitle
{
     text-align: center; 
     font-size: 16px;
}
.modal-body
{
    padding:0!important
 }
 .modal-body .form-group
 {
    /* overflow:hidden; */
     line-height:66.66px;
     margin-bottom:0px!important;
     display:flex;
     align-items: center;
    justify-content: space-between;
     
 }
 .modal-body .form-group .item_title
 {
     color: #707070;
     font-size:14px;
     flex:0 0 auto;
 }
 hr
 {
     margin:0 auto!important;
 }
  .modal-body .form-group .itemInput
 {
     display:flex;
     align-items: center;
     justify-content: center;
     height:66.66px;
 }
   .modal-body .form-group .itemInput input
   {
           border: none!important;
    outline: none;
    box-shadow: none;
     text-align: right;
   }
   
      .modal-body .form-group .itemInput input[type="text"],.modal-body .form-group .itemInput input[type="time"]
   {
            height:66.66px;
            line-height: 66.66px;
   }
   
   input[type="radio"], input[type="checkbox"]
   {
        margin:0!important;   
    }
   
 .closeBtn
   {
   text-align: center;
    z-index: 999;
    margin-top:20px;
       }
 